.button {
  font-size: 15px;
  font-weight: 500;
  color: var(--text-background);
  background: var(--primary-background);
  transition: all 200ms ease-in-out;
  border-radius: 6px;
  padding: 5px 20px;
  min-height: 40px;
}

.button:hover {
  background: var(--primary-hover);
}

.button:disabled {
  background: var(--card-foreground);
  cursor: not-allowed;
}

.secondary {
  border: 1px solid var(--border-background);
  background: var(--card-foreground);
}

.secondary:hover {
  background: var(--card-hover);
}

.destrutive {
  color: var(--error-background);
  border: 1px solid var(--error-background);
  background: var(--error-background-opacity);
}
