.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  color: var(--text-background);
  background: var(--primary-background);
  transition: all 200ms ease-in-out;
  border-radius: 6px;
  padding: 5px 20px;
  min-height: 40px;
}

.button:hover {
  background: var(--primary-hover);
}

.secondary {
  border: 1px solid var(--border-background);
  background: var(--card-foreground);
}

.secondary:hover {
  background: var(--card-hover);
}

.destrutive {
  color: var(--error-background);
  border: 1px solid var(--error-background);
  background: var(--error-background-opacity-20);
}

.destrutive:hover {
  background: var(--error-background-opacity-30);
}

.loading {
  background: var(--primary-active);
  pointer-events: none;
  cursor: default;
}

.secondary.loading {
  background: var(--button-foreground);
}

.destrutive.loading {
  background: var(--error-background-opacity);
}

.button:disabled,
.secondary:disabled,
.destrutive:disabled {
  background: var(--theme-background);
  color: var(--card-hover);
  border: 1px solid var(--card-hover);
  cursor: not-allowed;
}
