.container {
  position: relative;
  width: 100%;
  min-height: 70px;
  height: 100%;
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--border-background);
  flex-direction: column;
  overflow: hidden;
}

.title {
  font-size: 18px;
  color: var(--text-background);
  font-weight: 500;
}

.question,
.answer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}

.question {
  background: var(--card-foreground);
}

.answer {
  background: var(--card-hover);
  border-top: 1px solid var(--border-background);
}
