.container {
  max-width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 15px;
  gap: 50px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: var(--text-primary);
  text-align: center;
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-placeholder);
  text-align: center;
}
